*{
  box-sizing: border-box;
}

body {
  width: 68.75em;
  margin: auto;
  padding: 0.625em;
}

header {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

nav a{
  font-weight: 600;
  letter-spacing: 0.047em;
  padding: 0.188em 3.75em;
  border-bottom: none;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10em;
  font-size: 1.;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

/*.centering h1 {
  position: absolute;
  display: block;
  margin: 0 auto;
  transform: translate(-8%,140%);
  width: 100%;
  color: white;
  padding-top: 30px;
}*/

.centering {
  position: relative;
}

.centering h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

#header-background {
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 17em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5em;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 0.9em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
}

h3 {
  padding-top: 1.4em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.17em;
}

img {
  width: 50em;
  height: 25em;
}

#this-image-width {
  width: 15em;
  height: 12.5em;
}

footer {
  margin-top: 3.5em;
  padding-top: 1.875em;
  padding-bottom: 0.125em;
  text-align: center;
  background-color: #ccffff;
}

 .items {
  color: #004d4d;
}

section ul li a{
  color: #004d4d;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#one {
  border-top: 0.063em solid #004d4d;
  margin-top: 3.125em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#space-the-button {
  text-transform: uppercase;
  padding: 0.438em;
  text-align: center;
  border: 1px solid #004d4d;
  font-weight: 700;
  color: #004d4d;
  font-size: 0.6em;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#space-the-button:hover {
  background-color: #595959;
  color: white;

}

#email {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2.5em;
  margin-right: 0.625em;
  border: none;
  padding: 0.438em 2.5em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

main {
  order: 1;
  flex: 3;
  margin-right: 2em;
  width: 70%;
}

aside {
  order: 2;
  flex: 1;
  margin-top: 4.375em;
  width: 25%;
}

.flex {
  flex: 1;
  display: flex;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 1em;
}

#footer-style {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

fieldset {
  border: 0.063em solid white;
}

input {
  border: 0.125em solid #004d4d;
  color: #004d4d;
}

#two {
  padding: 0.75em;
  width: 49.5%;
  margin-bottom: 0;
}

#three {
  padding: 0.75em;
  width: 49.5%;
  margin-bottom: 0;
}

#four {
  padding: 0.5em;
  height: 10em;
  width: 100%
}

#five {
  padding: 0.75em;
  border: 0.125em solid #004d4d;
  color: #004d4d;
  text-align: center;
  width: 100%;
}

.comment {
  text-transform: uppercase;
  padding-bottom: 0.938em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.85vw;
}

@media only screen and (max-width: 560px) {
  #header-background {
    max-width: 36%;
  }

  img {
    max-width: 36%;
    height: auto;
  }

  p {
    max-width: 36%;
  }

  nav {
    display: none;
  }

  #two {
    padding: 0.25em;
    max-width: 17.5%;
  }

  #three {
    padding: 0.25em 0em 0.25em 0em;
    max-width: 17%;
  }

  #four {
    max-width: 36%;
    height:5em;
  }

  #five {
    padding: 0.25em;
    max-width: 34.5%;
  }

  footer {
    max-width: 35%;
  }

  /*#email {
    padding: 0.2em 1.1em;
}
*/
/*#space-the-button {
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}*/

  .comment {
    max-width: 34.5%;
  }

  aside {
    display: none;
  }

  /*article img{
    max-width: 100%;
  }
*/
}

